*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


body {

    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    font-family: "Aboreto", system-ui;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;

    background-color: rgb(70, 67, 85);
}

#content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: sticky;
    left: 20px;
    right: 20px;
   font-family: inherit;
}

#name {
    animation: fadeIn 0.8s ease-in;
}

.logo-container {
    position: relative;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 180px 35px 100px 35px 180px;
    grid-template-rows: 180px 35px 100px 35px 180px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.center {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    animation: enlarge-in 2s ease-in-out;
    width: 55px;
}

.petal {
   transition: 1s;
}

.info {
    position: absolute;
    font-family: inherit;

    animation: fadeIn 0.6s;
}

.top,
.bottom {
    width: 200px;
}

.left,
.right {
    height: 200px;
    cursor: pointer;
}

#return.left, 
#return.right {
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.top {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    animation: fadeIn 0.8s, slideUp 0.6s;
}

#return.top {
    top: 11vh;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#return.top:hover {
    transform: translateY(-12px);
    transition: 0.5s;
}


.bottom {
    cursor: pointer;
    grid-column: 2 / 5;
    grid-row: 4 / 6;
    animation: fadeIn 0.8s ease-in, slideDown 0.6s;
}

.bottom:hover {
    transform: translateY(12px);
    transition: 0.5s;
}

.left {
    animation: fadeIn 0.8s ease-in, slideLeft 0.6s;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

.left-resize {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    height: 50px;
    left: -100vw;
}

@keyframes toLeft {
    0% {}
}

.left:hover {
    transform: translateX(-12px);
    transition: 0.5s;
}

.right {
    grid-column: 4 / 6;
    grid-row: 2 / 5;
    animation: fadeIn 0.8s ease-in, slideRight 0.6s;
}

.right:hover {
    transform: translateX(12px);
    transition: 0.5s;
}

@keyframes enlarge-in {
    0% {
        transform: scale(0);
    }
90% {
    transform: scale(1);
}
95% {
    transform: scale(0.99);
}
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0px);
    }
}

.centerCol {
    grid-column: 2 / 3;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: rgb(94, 90, 120);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr;
}

.leftCol {
    grid-column: 1 / 2;
    background-color: #5e5a78;
    height: calc(100vh - 60px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rightCol {
    grid-column: 3 / 4;
    background-color: #5e5a78;
    height: calc(100vh - 60px);
    width: 100%;
}

.returnBtn {
    position: fixed;
    max-height: 50px;
    max-width: 50px;
}

.menuPage {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: #5e5a78;
}

.menuContainer{
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 90px 35px;
}

.menu {
    background-color: #e1e1e1;
    height: fit-content;
    width: 80%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    padding: 0px 10px 20px;
}

.menuHeader {
    background-color: #e1e1e1;
    border-bottom: 0.8px solid black;
}

.menuItemsContainer > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

h3 {
    margin-top: 10px;
    border-bottom: 0.5px solid black;
}

h5 {
    font-weight: 500;
}

.price {
font-size: 8px;
text-shadow: 0.3px 0.2px;
}

.dish {
font-size: 10px;
}

.aboutContainer {
    width: 50%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    padding: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.aboutContainer p {
    font-size: 15px;
    line-height: 25px;
}